@-moz-document url-prefix() {
  :root {
    --newtab-background-color: transparent !important;
    --newtab-background-color-secondary: transparent !important;
  }
}

@-moz-document url-prefix(about:home),
url-prefix(about:newtab),
url-prefix(about:config),
url-prefix(about:addons) {
  body {
    background-color: transparent !important;
  }

  #toolbar {
    background-color: transparent !important;
  }

  .main-search {
    background: transparent !important;
  }

  .main-heading {
    background: transparent !important;
  }


  #about-config-search {
    background: transparent !important;
  }

  #prefs {
    background-color: transparent !important;
  }
}
